// responsive

@media screen and (min-width:481px) {
    .products.main .item{
        flex: 0 0 50%;
    }

    // single page
    .products.one .big-image{
        margin-bottom: 2em;
    }
    .products.one .image-show{
        height: 680px;
    }

    .products.one .small-image .thumbnail-show img{
        height: 160px;
    } 
}


@media screen and (min-width: 768px) {
    .products .price .current{
        font-size: 1.25em;
    }
    .products.mini , 
    .banner .row,
    .widgets .row,
    .product-categories .row{
        flex: 0 0 50%;
    }
    .products.main .item{
        flex: 0 0 33.3333%;
    }

    .products.one .row{
        flex: 0 0 50%;
        width: 50%;
    }
}

@media screen and (min-width:992px) {
    .container{
        padding: 0 2em;
    }
    .desktop-hide{
        display: none;
    }
    .mobile-hide{
        display: block;
    }
    .logo a{
        margin-right: 2em;
    }
    .header-nav{
        padding: 0;
        margin: 0;
        border-bottom: 0;

        .right li > a{
            margin-left: 1em;
        }
    }
                                                        //    mega menu
    nav li.has-child:hover .mega{
        display: block;
    }
    nav .mega{
        position: absolute;
        width: $percent100;
        height: auto;
        top: auto;
        left: 0;
        right: 0;
        padding: 2.5em;
        line-height: 2em;
        background-color: $light-bg-color;
        box-shadow: rgb(0 0 0 / 20%) 0 30px 20px -30px;
        z-index: 100;

        display: none;    

        

        .wrapper{
            display: flex;
        }

        h4{
            font-size: 0.8em;
            text-transform: uppercase;
        }
        ul{
          font-size: $font-small;
        }
        .Women-brands{
            display: flex;
            flex-wrap: wrap;
            max-width: 180px;
            
            li{
                min-width: 80px;
                
            }
        }

        .view-all{
            margin-top: 1em;
        }
        .products{
            flex: 2;
            padding: 0;
            align-items: center;
            position: relative;

            .row{
                width: $percent100;
            }

            .media{
                height: 400px;
                .thumbnail, .thumbnail img{
                    height: 100%;
                }
            }

            .text-content{
                line-height: initial;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5em;
                margin-top: 0.5em;
                position: absolute;
                bottom: 4em;
                width: $percent100;

                h4{
                    font-size: 2em;
                    font-weight: $fw8;
                    text-align: center;
                    color: $secondary-dark-color;
                }
            }
        }
    } 
                                     // mega menu ends 
    .header-main .right{
        max-width: 600px;
        margin-left: auto;
    }               
    
    
    // departments menu

    .dpt-menu{
        position: absolute;
        top: $percent100;
        width: 300px;
        background-color: $white-color;
        border: 1px solid $border-color;
        border-top: 0;
        border-bottom: 0;

        ul>li>a{
            font-weight: $fw5;
            padding: 0 1.5em;
            border-bottom: 1px solid $border-color;
        }

        .has-child > ul, .mega {
            position: absolute;
            top: 0;
            left: $percent100;
            width: $percent100;
            height: auto;
            min-height: $percent100;
            padding: 1.5em;
            font-size: $font-small;
            line-height: 2.5em;
            border: 1px solid $border-color;
            border-top: 0;
            display: none;
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: auto;
        }

       
        // showing the first menu

        

        // .mega{
        //     display: block;
        // }

        .beauty ul{
            background-image: url(/assets/menu/menu_bg1.jpg);
        }
        .electronics ul{
            background-image: url(/assets/menu/menu_bg2.jpg);
        }
        .fashion ul{
            background-image: url(/assets/menu/menu_bg3.jpg);
        }
        .homekit .mega{
            background-image: url(/assets/menu/menu_bg4.jpg);
        }

        .has-child > :where(ul, .mega)::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(90deg, rgb(225, 225, 225) 0%, rgba(225,225,225,.3) 70%);
        }

        
        

        
    }

    
        

    .dpt-menu .mega{
        min-width: $percent100;
        // display: flex;
        width: max-content;
        gap: 20px;
    }

    .mega ul>li>a{
        padding-left: 0;
    }
    
    .dpt-menu .has-child:hover .mega {
        display: flex;
    }


    // products 

    .trending .products,
    .product-categories .row{
        flex: 0 0 33.3333%;
    }

    .products.big .media {
         max-height: 373px;
    }

    .products.main .item,
    .widgets .row{
        flex: 0 0 25%;
    }

    // newsletter

    .newsletter .box {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .trigger.desktop-hide{
        display: none;
    }

    // slider
    .slider > div > .wrapper {
        width:calc(100% - (300px + 2em));
        margin-left: auto;
    }

    // page single
    #page:not(.page-home) .dpt-menu{
        display: none;
    }

    #page.showdpt .dpt-menu{
        display: block;
    }


    
    
}
